.completed{
    position: relative;
    top: 30px;
    bottom: 50px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
#ctr{
    position: relative;
    display: grid;
    grid-template-columns: repeat(8,minmax(250px, 1fr));
    text-align: center;
}

#ctr td{
    display: flex;
    justify-content: center; 
     align-items: center; 
}
.completed::-webkit-scrollbar{
    display: none;
}

.btnc:nth-child(1){
    color: white;
    background-color: red;
}
.btnc:nth-child(1):hover{
    color: white;
    background-color: red;
}
.btnc:nth-child(2){
    color: white;
    background-color:green;
}
.btnc:nth-child(2):hover{
    color: white;
    background-color:green;
}